#title {
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-family: monospace, sans-serif;
}

.list {
    font-weight: bold;
    color: yellow;
    font-family: monospace;
}

/* unvisited link */
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: white;
}