.box {
    box-sizing: border-box;
}

#title {
    color: yellow;
    font-weight: bold;
    text-align: center;
    font-family: monospace, sans-serif;
    /* outline: 3px solid red; */
}

.list {
    /* font-weight: bold; */
    color: yellow;
    font-family: monospace, sans-serif;
    /* outline: 3px solid red; */
}

.hamburger {
    display: inline-block;
    /* outline: 1px solid red; */
    width: 20%;
    margin: 20px 10px;
    position: relative;
    top: 78px;
}

.teriyaki {
    display: inline-block;
    /* outline: 1px solid red; */
    width: 35%;
    margin: 20px 5px;
    position: relative;
    top: 168px;
    right: 15px;
    bottom: 7px;
    left: 156px;
}

.chicken {
    display: inline-block;
    /* outline: 1px solid red; */
    width: 25%;
    margin: 20px 5px;
    position: relative;
    top: 348px;
    right: 20px;
    bottom: 5px;
    left: 5px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: yellow;
  }
  
  /* selected link */
  a:active {
    color: #00ff51;
  }